@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --font1: 'GFS Neohellenic', sans-serif;
    --col1: #68686c;
    --col2: #3b38f3;
    --col3: #75757D;
    --col4: #5A5663;
    --col5: #4A494F;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: var(--font1);
}

main {
    background: linear-gradient(var(--col1), var(--col2));
    width: 100vw;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    position: relative;
}

.menu {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: rgb(179, 177, 177);
    border-radius: 20px;
    padding: 12px;
    overflow: hidden;
}

.menu-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.menu-list-item {
    height: 27px;
    width: 27px;
    background: #3b38f3;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.527);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.menu-list-item:nth-child(2) {
    background: #8d0808;
}

.menu-list-item:hover {
    transform: translateY(2px);
}

.indicator {
    position: absolute;
    background: var(--col1);
    width: 20px;
    height: 20px;
    left: 11px;
    top: -24px;
    border-radius: 50%;
    transition: all .5s ease;
}

section {
    display: grid;
    width: 95%;
    margin: auto;
    height: 580px;
    max-width: 430px;
    grid-template-columns: repeat(4, 1fr); /* 1fr 1fr 1fr 1fr */
    grid-template-rows: repeat(6, 1fr);
}

#displayCalc {
    background-color: var(--col5);
    color: whitesmoke;
    font-size: 3.5em;
    padding: 0 12px;
    opacity: 0.7;
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    grid-column: 1 / 5;
    text-align: center;
}

.item {
    color: whitesmoke;
    cursor: pointer;
    font-size: 1.8em;
    border: 0.1px solid #4a494fce;
    transition: all .2s ease;
}

.item:hover, .active {
    opacity: 0.85;
    margin: 2px;
}

.item:active {
    background-color: transparent;
    color: var(--col5);
}

.active {
    opacity: 0.85;
    margin: 2px;
    transition: all .2s ease;
    background-color: transparent;
    color: var(--col5);
}

.button-operations-right {
    background-color: var(--col2);
}

.button-numbers {
    background-color: var(--col3);
}

.button-operations {
    background-color: var(--col4);
}

.zero {
    grid-column: 1 / 3;
    border-bottom-left-radius: 4px;
}

.equal {
    border-bottom-right-radius: 4px;
}